/*general*/
:root {
    --orange: #fdb55d;
    --yellow: #e7e14d;
    --green:#b2d05e;
    --darkor:#c26f0a;
    --darkgr:#819744;
    --darkyel:#b5af03;
    --lightor:#ffd4a0;
    --lightyel:#f6f3a2;
    --lightgr: #d3f969;
    
  }
*{
    box-sizing: border-box;
  }
  
html {
      scroll-behavior: smooth;
    }
  
body {
    font-family: 'Yomogi';
    font-size: 20px;
    background: url('./assets/fondo.jpg') ;
    background-position: absolute; 
    background-size: cover;
    background-repeat:repeat-y;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(1px);
    }

header{
    width:70%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--orange);
    border-radius: 20px;
    }

main{
      width:90%;
      margin:auto;
      display: flex;
      flex-wrap: wrap;
      }
  
nav{
        display: flex;
        justify-content: end;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        }
    
  nav > button {
    background-color: #fff7ec ;
    padding: 0.7em 1.1em;
    text-decoration: none;
    text-align: center;
    border:#FDB55D solid;
    margin: 2px
    }
  
  nav >button:hover{
      background-color:var(--lightor) ;
      cursor: pointer;
    }
  
    h1{
    text-align: center;
    color: white;
    }
   

    footer{
      margin-top: 50px;
      margin-bottom: 60px;
    }
   
    div.top{
      position:fixed;
      bottom:0.45em;
      right: 0.45em;
      background-color: var(--lightgr);
      padding: 10px;
      border-radius: 5px;
      opacity:80%;
      box-shadow: 0px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 5px 5px 3px 5px rgba(252,213,206,0);
  }
  
    div.top > a{
      text-decoration: none;
      color:black;
  }

  #botones{
    width: 90%;
    display: block;
    margin: 10px auto;
  }

  #filtro{
    margin-bottom: 5px;
  }
  #filter{
    width: 5%;
    background: var(--green);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    &:active{
      background-color: rgb(142, 168, 71);
    }
  }


  #ordenar{
    margin-bottom: 5px;
  }

  #sort{
    width: 5%;
    background: var(--green);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    &:active{
      background-color: rgb(142, 168, 71);
    }
  }

#searcher{
    margin-top: 5px;
}

  #searcher>#go{
    width: 5%;
    background: var(--green);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    &:active{
      background-color: rgb(142, 168, 71);
    }
  }
  

  #reload{
    visibility: hidden;
    width: 15%;
    background: var(--yellow);
    color: rgb(104, 97, 97);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 20px;
    &:active{
      background-color: rgb(171, 167, 60);;
    }
  }

  #general{
    width:100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  #frutas{
    flex: 70%;
    padding: 1.25em;
    display: flex;
    flex-wrap: wrap;
    }

  .card{
    background-color: whitesmoke;
    width: 23%;
    margin: 10px auto;
    display:grid;
    justify-content: center;
    box-shadow: #573102 5px 6px 20px 0px;
    border-radius: 9px;
  }
  .indvcard{
    background-color: whitesmoke;
    width: 50%;
    margin: 10px auto;
    display:grid;
    justify-content: center;
    box-shadow: #573102 5px 6px 20px 0px;
    border-radius: 2px;
  }

  .fruitimg{
    width: 70%;
    margin: 10px auto;
  }

  .card > h3, .indvcard > h3{
    text-align: center;
    background-color: var(--lightgr);
    height: fit-content;
    border-radius: 50px;
  }

  .indvcard > p{
    text-align: center;
  }
 

  aside{
    flex: 30%;
    padding: 1.25em 0.8em;
    margin-top: 1.25em;
    background-color: var(--yellow);
    height: fit-content;
    width: 30%;
    box-shadow: #443b29 5px 6px 20px 0px;

  }


  .charts{
    flex: 45%;
    margin: 30px 70px;
    background-color: white;
  }

#graficas{
  width: 80%;
  margin: auto;
}

#chart1, #chart2,#chart3,#chart4{
  box-shadow: #2b4429 5px 6px 20px 0px;
  border-radius: 7px;
}

 #back{
  visibility: hidden;
}

#userForms{
  display: grid;
  margin: 10px auto;
}

#form1,#form2{
  display: none;
  text-align: center;
  
}
#form1>fieldset{
  background-color: #f6f3a24f;
}
#form2>fieldset{
  background-color: #d3f9693b;
}